@model BlogListResponseModel
@{
    Layout = null;
    string url = "/Blog/BlogTable?pageNo={0}&pageSize={1}&searchParam={2}";
    Model.PageSettingModel.PageUrl = url;
}
<div class="card card-flush" id="blogTable">
    <div class="card-header pt-7">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-gray-800">
                Blog Lists
            </span>
            <span class="text-gray-400 mt-1 fw-semibold fs-6">
                Total @Model.PageSettingModel.TotalRowCount.ToString("N0")
            </span>
        </h3>
        <div class="card-toolbar">
            <div class="input-group mb-3">
                <input type="text" id="searchParam" value="@Model.PageSettingModel.SearchParam"
                       class="form-control form-control-sm" placeholder="Search.." aria-label=""/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-sm btn-light" id="searchBtn">
                       <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body mb-0 pb-0">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="kt_stats_widget_6_tab_1">
                <div class="table-responsive hover-scroll-overlay-y" style="height: 370px;">
                    <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
                        <thead>
                        <tr class="fs-7 fw-bold text-gray-800 border-bottom-0">
                            <th >Title</th>
                            <th>Author</th>
                            <th>Content</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var blog in Model.BlogList)
                        {
                            <tr>
                                <td class="text-gray-700">
                                    @blog.BlogTitle     
                                </td>
                                <td class="text-gray-700">
                                    @blog.BlogAuthor
                                </td>
                                <td class="text-gray-700">
                                    @blog.BlogAuthor
                                </td>
                            </tr>
                        }
                        </tbody>
                        <!--end::Table body-->
                    </table>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Tap pane-->
        </div>
        <!--end::Tab Content-->
    </div>
    <div class="card-footer ">
            @await Html.PartialAsync("_Pagination", Model.PageSettingModel)
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
     $('#searchBtn').on("click",()=>{
         let pageNo = "@Model.PageSettingModel.PageNo";
         let pageSize = "@Model.PageSettingModel.PageSize";
         let searchParam = $('#searchParam').val();
         let url = "@Html.Raw(Model.PageSettingModel.PageUrl)"
                .replace("{0}",1)
                .replace("{1}",pageSize)
                .replace("{2}",searchParam);
         console.log(url)
         loadPage(url);
     })
     function loadPage(url){
         $('#blogTable').load(url);
     }
</script>


@* <script> *@
@* "use strict"; *@
@* *@
@* getTable(); *@
@* *@
@* var connection = new signalR.HubConnectionBuilder().withUrl("/blogHub").build(); *@
@* *@
@* connection.on("ReceiveList", function (list) { *@
@*     drawBlogTable(list); *@
@* }); *@
@* *@
@* connection.start().then(function () { *@
@*      *@
@* }).catch(function (err) { *@
@*     return console.error(err.toString()); *@
@* }); *@
@* *@
@* function getTable(){ *@
@*      $.ajax({ *@
@*             url: "/Blog/BlogTable", *@
@*             type: "Get", *@
@*             dataType: "json", *@
@*             success: function (result) { *@
@*                 drawBlogTable(result); *@
@*             }, *@
@*             error: function (err) { *@
@*                 console.error(err); *@
@*             } *@
@*         }); *@
@* } *@
@* *@
@* function drawBlogTable(tableRows){ *@
@*      $('#table tbody').empty(); *@
@*                 $(tableRows).each(function (index,item){ *@
@*                     let tr = ` <tr> *@
@*                                  <td>${item.blogTitle}</td> *@
@*                                  <td>${item.blogAuthor}</td> *@
@*                                  <td>${item.blogContent}</td> *@
@*                                   *@
@*                              </tr>`; *@
@*                     $('#table tbody').append(tr); *@
@*                 }) *@
@* } *@
@* *@
@* </script> *@