@model CronResponseModel
@{
    Layout = null;
}

<div class="card card-flush">
<div class="card-header pt-7">
    <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bold text-gray-800">
            Task
            Tracking
        </span>
        <span class="text-gray-400 mt-1 fw-semibold fs-6">
            @{ int totalTask = Model.RunningCronList.Count + Model.StoppedCronList.Count; }
            @totalTask @(totalTask > 1 ? "tasks" : "task") in
            total
        </span>
    </h3>
</div>
<div class="card-body pt-4 px-0">
<ul
    class="nav nav-pills nav-pills-custom item position-relative mx-9 mb-9">
    <li class="nav-item col-4 mx-0 p-0">
        <a class="nav-link active d-flex justify-content-center w-100 border-0 h-100"
           data-bs-toggle="pill" href="#all_tasks">
            <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">
                All
            </span>
            <span
                class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded">
            </span>
        </a>
    </li>

    <li class="nav-item col-4 mx-0 px-0">
        <a class="nav-link d-flex justify-content-center w-100 border-0 h-100"
           data-bs-toggle="pill" href="#running_tasks">
            <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">
                Running
            </span>
            <span
                class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded">
            </span>
        </a>
    </li>

    <li class="nav-item col-4 mx-0 px-0">
        <a class="nav-link d-flex justify-content-center w-100 border-0 h-100"
           data-bs-toggle="pill" href="#stopped_tasks">
            <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">
                Stopped
            </span>

            <span
                class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded">
            </span>
        </a>
    </li>

    <span
        class="position-absolute z-index-1 bottom-0 w-100 h-4px bg-light rounded">
    </span>
</ul>

<div class="tab-content px-9 hover-scroll-overlay-y pe-7 me-3 mb-2"
     style="height: 370px">

<div class="tab-pane fade show active " id="all_tasks">
    @foreach (var item in Model.RunningCronList)
    {
        <div class="m-0">
            <a href="@item.StopUrl" class="border-hover-danger">
                <div class="timeline ms-n1">
                    <div class="timeline-item align-items-center mb-4">
                        <div class="timeline-line w-20px mt-12 mb-n8">
                        </div>
                        <div class="timeline-icon pt-1"
                             style="margin-left: 0.7px">
                            <i class="fa-regular fa-clock fs-4 text-success"></i>
                        </div>

                        <div class="timeline-content m-0">
                            <div
                                class="fs-8 fw-bolder text-success text-uppercase">
                                @item.Name
                            </div>

                            <span class="fw-semibold text-gray-400">Last Execution : </span>
                            <span class="fw-semibold text-gray-600">
                                @item.LastTime
                            </span>
                        </div>
                    </div>

                    <div class="timeline-item align-items-center">

                        <div class="timeline-line w-20px"></div>

                        <div class="timeline-icon pt-1"
                             style="margin-left: 0.5px">
                            <i class="fa-regular fa-clock fs-4 text-info"></i>
                        </div>

                        <div class="timeline-content m-0">
                            <span
                                class="fw-semibold text-gray-400">
                                Next Execution :
                            </span>
                            <span class="fw-semibold text-info fs-7">
                                @item.NextTime
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="separator separator-dashed mt-5 mb-4"></div>
    }

    @foreach (var item in Model.StoppedCronList)
    {
        <div class="m-0">
            <div class="timeline ms-n1">
                <div class="timeline-item align-items-center mb-4">
                    <div class="timeline-line w-20px mt-12 mb-n8">
                    </div>
                    <div class="timeline-icon pt-1"
                         style="margin-left: 0.7px">
                        <i class="fa-regular fa-clock fs-4 text-danger opacity-75"></i>
                    </div>
                    <div class="timeline-content m-0">
                        <div
                            class="fs-8 fw-bolder text-danger opacity-75 text-uppercase">
                            @item.Name
                        </div>
                        <span class="fw-semibold text-gray-400">Last Execution : </span>
                        <span class="fw-semibold text-gray-600">
                            @item.LastTime
                        </span>
                    </div>
                </div>

                <div class="timeline-item align-items-center">

                    <div class="timeline-line w-20px"></div>
                    <div class="timeline-icon pt-1"
                         style="margin-left: 0.5px">
                        <i class="fa-regular fa-clock fs-4 text-info"></i>
                    </div>

                    <div class="timeline-content m-0">
                        <span
                            class="fw-semibold text-gray-400">
                            Stopped Time :
                        </span>
                        <span class="fw-semibold text-gray-600 fs-7">
                            @item.StoppedTime
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-dashed mt-5 mb-4"></div>
    }

</div>

<div class="tab-pane fade " id="running_tasks">
    @foreach (var item in Model.RunningCronList)
    {
        <div class="m-0">
            <a href="@item.StopUrl" class="border-hover-danger">
                <div class="timeline ms-n1">
                    <div class="timeline-item align-items-center mb-4">

                        <div class="timeline-line w-20px mt-12 mb-n8">
                        </div>
                        <div class="timeline-icon pt-1"
                             style="margin-left: 0.7px">
                            <i class="fa-regular fa-clock fs-4 text-success"></i>
                        </div>
                        <div class="timeline-content m-0">
                            <div
                                class="fs-8 fw-bolder text-success text-uppercase">
                                @item.Name
                            </div>

                            <span class="fw-semibold text-gray-400">Last Execution : </span>
                            <span class="fw-semibold text-gray-600">
                                @item.LastTime
                            </span>
                        </div>
                    </div>
                    <div class="timeline-item align-items-center">

                        <div class="timeline-line w-20px"></div>
                        <div class="timeline-icon pt-1"
                             style="margin-left: 0.5px">
                            <i class="fa-regular fa-clock fs-4 text-info"></i>
                        </div>

                        <div class="timeline-content m-0">
                            <span
                                class="fw-semibold text-gray-400">
                                Next Execution :
                            </span>
                            <span class="fw-semibold text-info fs-7">
                                @item.NextTime
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="separator separator-dashed mt-5 mb-4"></div>
    }
</div>

<div class="tab-pane fade " id="stopped_tasks">
    @foreach (var item in Model.StoppedCronList)
    {
        <div class="m-0">
            <div class="timeline ms-n1">
                <div class="timeline-item align-items-center mb-4">

                    <div class="timeline-line w-20px mt-12 mb-n8">
                    </div>

                    <div class="timeline-icon pt-1"
                         style="margin-left: 0.7px">
                        <i class="fa-regular fa-clock fs-4 text-danger opacity-75"></i>
                    </div>

                    <div class="timeline-content m-0">
                        <div
                            class="fs-8 fw-bolder text-danger opacity-75 text-uppercase">
                            @item.Name
                        </div>

                        <span class="fw-semibold text-gray-400">Last Execution : </span>
                        <span class="fw-semibold text-gray-600">
                            @item.LastTime
                        </span>
                    </div>
                </div>
                <div class="timeline-item align-items-center">

                    <div class="timeline-line w-20px"></div>

                    <div class="timeline-icon pt-1"
                         style="margin-left: 0.5px">
                        <i class="fa-regular fa-clock fs-4 text-info"></i>
                    </div>

                    <div class="timeline-content m-0">
                        <span
                            class="fw-semibold text-gray-400">
                            Stopped Time :
                        </span>
                        <span class="fw-semibold text-gray-600 fs-7">
                            @item.StoppedTime
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-dashed mt-5 mb-4"></div>
    }
</div>

</div>
</div>
</div>